/* This style sheet pertains to specific styles and designs for the login page */
body{
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
}
header{
    margin-bottom: 5%;
}
p{
    font-size:12px;
    text-decoration: none;
    color:black;
}
h1{
    font-size:1.5em;
    color:#000000;
}
 /* Formatting for form elements  */
.formContainer{
    background:white;
    width:300px;
    margin: 0 auto 0 auto;
    padding:10px 0px 70px 0px;
    border-bottom: #1e5375 4px solid; 
}
.label-container{
    text-align: left;
    margin-left: 5%;
    margin-top: 10px; 
}
/* Formating email input box */
.email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    /* margin-top:10px; */
    margin-bottom: 10px;
    font-size:1em;
}

/* formating password input box */
.password{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
}

/* Below is CSS used to touch up and style the buttons for sign in and sign up. */
.signIn{
    background:#94B0DA;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:black;
    border: #2788ae 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}
  
.signIn:hover, .signUp:hover{
    background:#DCEDFF; 
}
  
.signUp{
    float:left;
    background:#94B0DA;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:black;
    border: #113a55 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}
