/* My Generic CSS style sheet. 
Additional stylesheets will be created 
in addition to this pending on screen.
Designing for mobile first then the big screen. */

/* Persisten CSS */
html, body, footer{
    padding: 0;
    margin: 0;
}
/* For showing Active screen/page */
.active {
    background-color: rgb(65, 78, 255);
}
.navMenuItem {
    border-color: rgb(0, 0, 0);
    border-right-style: solid;
}
.profileIcon {
    border-color: rgb(62, 84, 99);
    border-style: solid;
}
hr {
    margin: 5%;
    color: rgb(38, 0, 255);
}
body {
    /* background-color: rgb(48, 48, 48); */
    background:#5f5cf5;
    /* background-image: url("../../assets/images/starspot.jpg"); */
    background-size: 100%;
    font-family: 'Anton', sans-serif;
    color: white;
}
footer, header, #topNavbar > .navMenuContainer {
    background-color: #ffff6698;
}
.link {
    color: white;
}
.MoreInfo {
    background-color: rgb(124, 141, 47);
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2%;
    color: white;
    text-align: left;
    cursor: pointer;
    width: 75%;
}
.MoreInfo a {
    color: white;
}
.MoreInfo:hover{
    background-color: rgba(255, 255, 0, 0.479);
}

footer {
    display: flex;
}
footer > .footerColumn {
    flex: 50%;
    text-align: center;
}
.footerColumn > ul {
    list-style-type: none;
    color: white;
}
.additionalLinks > li a {
    color: white;
}
/* CSS for mobile Site */
h1 {
    margin: 5%;
}
.navMenuItem {
    border-color: rgb(62, 84, 99);
    border-right-style: solid;
    border-bottom-style: solid;
}
/* For Navigation */
#topNavBar {
    padding: 0;
    margin: 0;
}
/* For Navigation */
#topNavbar > .navMenuContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navMenuItem {
    float: left;
}
.profileIcon {
    float: right;
}
.menuItemLink {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.navMenuItem a:hover, .profileIcon a:hover  {
    background-color: yellow;
}

/* For Information Cards */
.card {
    background-color: #ffff66b4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* CSS for Desktop Site */
@media only screen and (min-width: 768px) {
    /* Information Cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(102, 85, 85, 0.932);
        max-width: 300px;
        margin: auto;
        text-align: left;
        flex: 33.33%;
        padding: 5px;
    }
    .card-wrapper {
        display: flex;
        margin-bottom: 5%;
    }
    #topNavBar {
        padding: 0;
        margin: 0;
    }
    /* For Navigation */
    #topNavbar > .navMenuContainer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .navMenuItem {
        float: left;
    }
    .profileIcon {
        float: right;
    }
    .menuItemLink {
        display: block;
        color: rgb(62, 84, 99);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navMenuItem a:hover, .profileIcon a:hover {
        background-color: yellow;
    }

    h1 {
        margin: 2.5%;
    }
}