/* My Generic CSS style sheet. 
Additional stylesheets will be created 
in addition to this pending on screen.
Designing for mobile first then the big screen. */

/* Colour Palette 
 #DCEDFF
 #94B0DA
 #8F91A2
 #505A5B
 #343F3E
*/

/* Persisten CSS */
html, body, footer{
    padding: 0;
    margin: 0;
}
img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: rgb(113, 122, 73);
    border-style: solid; 
}
/* For showing Active screen/page */
.active {
    background-color: #DCEDFF;
    font-weight: bold;
}
/* For sticky Footer */
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.content-wrapper{
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
}

/* Nav menu color and formating */
.navMenuItem {
    border-color: rgb(0, 0, 0);
}
.profileIcon {
    border-color: rgb(62, 84, 99);
}
hr {
    margin: 2%;
    color: rgb(38, 0, 255);
}
/* Interesting to note that background and 
background-color in this case do the same thing */
body {
    background:#505A5B;
    font-family: 'Anton', sans-serif;
    color: black;
    height: 100%;
}
footer, header, #topNavbar > .navMenuContainer {
    background-color: #94B0DA;
}
.link {
    color: black;
}

/* Poor naming here, moreInfor are the external links/buttons normally attached to cards
The display inline-block allows for setting of width and height of an inline element
*/
.MoreInfo {
    background-color: #8F91A2;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2%;
    color: black;
    text-align: left;
    cursor: pointer;
    width: 75%;
    margin: 2% 10% 2% 10%;
}
.MoreInfo a {
    color: black;
}
.MoreInfo:hover{
    background-color: #DCEDFF;
}
footer {
    display: flex;
}
footer > .footerColumn {
    flex: 50%;
    text-align: center;
}
.footerColumn > ul {
    list-style-type: none;
    color: black;
}
.additionalLinks > li a {
    color: black;
}
/* CSS for mobile Site */
h1 {
    margin: 5%;
}
.navMenuItem {
    border-color: rgb(62, 84, 99);
}
/* For Navigation */
#topNavBar {
    padding: 0;
    margin: 0;
}
#topNavbar > .navMenuContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navMenuItem {
    float: left;
}
.profileIcon {
    float: right;
}
.menuItemLink {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.navMenuItem a:hover, .profileIcon a:hover  {
    background-color: #DCEDFF;
}

/* For Information Cards */
.card, .add-spot {
    background-color: #94B0DA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.map {
    height: 400px;
    width: 100%;
    margin-bottom: 5%;
}

.sub{
    background:#94B0DA;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border: #2788ae 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}
.lucky{
    background:#94B0DA;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border: #113a55 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}
.sub:hover, .lucky:hover{
    background:#DCEDFF; 
}

/* CSS for Desktop Site */
@media only screen and (min-width: 768px) {
    /* Information Cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(102, 85, 85, 0.932);
        max-width: 300px;
        text-align: left;
        flex: 33.33%;
        padding: 5px;
    }
    .add-spot{
        background-color: #94B0DA;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        min-height: 100%;
        margin: auto;
        text-align: left;
        padding: 2%;
        margin-bottom: 5%;
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    #topNavBar {
        padding: 0;
        margin: 0;
    }
    /* For Navigation */
    #topNavbar > .navMenuContainer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    /* for Arranging nav bar. */
    .navMenuItem {
        float: left;
    }
    .profileIcon {
        float: right;
    }
    .menuItemLink {
        display: block;
        color: rgb(62, 84, 99);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navMenuItem a:hover, .profileIcon a:hover {
    background-color: #DCEDFF;
    }
    /* Using percentages to keep dynamic */
    h1 {
        margin: 2.5%;
    }
    img{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    .card img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}